@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
::after,
::before,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* colors */
    --primary-50: #f0f5ff;
    --primary-100: #e5edff;
    --primary-200: #cddbfe;
    --primary-300: #b4c6fc;
    --primary-400: #8da2fb;
    --primary-500: #6875f5;
    --primary-600: #5850ec;
    --primary-700: #5145cd;
    --primary-800: #42389d;
    --primary-900: #362f78;

    --black: #222;
    --white: #fff;
    --red-light: #fdf2f2;
    --red-dark: #c81e1e;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    --active: #0e9f6e;

    --small-text: 0.875rem;
    --extra-small-text: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--primary-100);
    --textColor: var(--primary-100);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
    --view-width: 90vw;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-5: rgb(38, 57, 77) 0px 20px 30px -10px;
}

p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
    font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
    font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
    font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

.text {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

small,
.text-small {
    font-size: var(--small-text);
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* buttons */

.btn {
    cursor: pointer;
    color: var(--primary-50) !important;
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
}
.btn:hover {
    background: var(--primary-600);
    box-shadow: var(--shadow-3);
    color: var(--primary-100);
}
